* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Quicksand', sans-serif , 'Rubik';
    font-size: 10px;
    color: var(--color2);
}

:root {
    --color1 : rgb(226, 226, 226);
    --color2 : rgba(31,37,50,1.0);
    --color3 : rgba(88,92,102,1.0);
    --color4 : rgba(248,248,248,1.0);
    --color5 : rgb(0, 0, 0);
    --color6 : #333333;
}

@media screen and (max-width: 1920px) {
    body{
        background-color: rgb(216, 216, 216);
    }
}